# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask stuff:
instance/
.webassets-cache

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Log files
*.log

# dotenv
.env
*.env

# Firebase/firestore config cache
firebase-debug.log
.firebaserc

# Ignore Netlify build/output
.netlify/

# Ignore IDE configs
.idea/
*.sublime-project
*.sublime-workspace
